/* Desktops */
@media (max-width: 1440px) {
  .js-menu {
    display: none;
  }
}

/* Tablets */
@media (max-width: 1024px) {
  .js-menu {
    display: none;
  }
}

* {
  font-family: Roboto;
}

.logo {
  font-weight: 500;
}

.js-menu {
  border: none;
  border-radius: 1px;
  color: black;
  background-color: #ccc;
  width: 2.5em;
  height: 2.5em;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}

.img-menu {
  width: 2.5rem;
  height: 100%;
}

.menu-section {
  border-bottom: 2px solid black;
  height: 12.5%;
  color: black;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  padding-left: 0.3rem;
}

.info-menu {
  position: absolute;
  z-index: 1;
  background-color: #777;
  color: white;
  top: 2.34rem;
  left: 7px;
  height: 40dvh;
  width: 35dvw;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 5px 5px;
  border: solid 2px black;
}

.header {
  position: static;
  background-color: #ccc;
  top: 0;
  left: 0;
  right: 0;
  height: 8.5dvh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  border-radius: 0 0 10px 10px;
}